.wrapper {
  height: var(--normal-h);
  width: var(--normal-w);
  margin: 0;
}
.background {
  width: 100%;
  height: 100vh;
  padding: 0rem;
  background: none;
}
.menu {
  width: 20%;
}

.chat {
  width: 80%;
}
