.wrapper {
  height: var(--normal-h);
  width: var(--normal-w);
  margin: 0;
}

.background {
  width: 100%;
  height: 100vh;
  padding: 0rem;
  background: none;
}

/* Menu */

.menu {
  width: 15%;
}

.notification {
  display: none;
}

.search {
  display: none;
}

.contacts {
  height: calc(100% - 3rem);
}

/* Chat */
.chat {
  width: 85%;
}
